body::before {
  background-image: linear-gradient(to bottom, rgba(35, 42, 43, .9) 0, rgba(35, 42, 43, 0) 100%);
  content: "";
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.search-form {
  display: inline-flex;
  margin: 1rem auto;
  position: relative;
  width: auto;

  .search-form-label {
    @include cubic-bezier($property: all, $duration: .5s);
    color: var(--color-white);
    display: inline-block;
    font-size: 26px;
    font-weight: var(--font-weight-regular);
    left: 84px;
    opacity: .8;
    position: absolute;
    top: 16px;
    z-index: 0;
  }

  .search-form-field {
    @include cubic-bezier($property: all, $duration: 1s);
    background-color: var(--color-background-search);
    border: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: var(--color-white);
    font-size: var(--font-size-24);
    order: 2;
    position: relative;
    width: 210px;
    z-index: 1;

    &::-webkit-search-cancel-button {
      /* stylelint-disable-next-line */
      -webkit-appearance: none;
      background-image: url('../../svg/search-cancel.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 22px 22px;
      height: 22px;
      width: 22px;
    }

    &:focus,
    &:hover {
      background-color: var(--color-background-search);
      cursor: text;

      /* stylelint-disable-next-line */
      outline: 0;
    }
  }

  .search-submit {
    background-color: var(--color-background-search);
    border: 0;
    border-bottom-right-radius: 0;
    border-color: var(--color-background-search);
    border-top-right-radius: 0;
    order: 1;

    &:hover,
    &:focus {
      background-color: var(--color-background-search);
      border: 0;
    }

    svg {
      margin-left: 8px;
      opacity: .8;
    }
  }

  &.focused .search-form-label {
    opacity: .2;
  }

  &.focused .search-form-field {
    /* stylelint-disable-next-line */
    background-color: var(--color-background-search);
  }

  &.filled .search-form-label {
    opacity: 0;
  }

  &.filled .search-form-field {
    width: 400px;
  }
}
