.block-blog .cols {
  @include grid(2, $gutter_x: 10rem, $gutter_y: 10rem);

  a {
    @include cubic-bezier($property: all);
    color: var(--color-white);
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  @media (max-width: 700px) {
    @include grid(2, $gutter_x: 4rem, $gutter_y: 4rem);
  }

  @media (max-width: 600px) {
    @include grid(1, $gutter_x: 4rem, $gutter_y: 4rem);
  }
}

/* stylelint-disable-next-line */
.blog .site-main .block-hero-movies .content .block-title {
  @include responsive-font(22px, 80px);
}
