:root {
  --height-of-top-bar: 42px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.movie-group,
.filter-group {
  margin-bottom: 36px;

  &.writer,
  &.actor,
  &.director {
    /* stylelint-disable a11y/no-display-none */
    h2,
    .input-group:not([checked]) {
      display: none;
    }
  }

  label {
    font-size: var(--font-size-14);
  }

  h2 {
    color: var(--color-white);
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-bold);
    margin: 0 0 2rem;
  }
}

.block-movie-archive {
  margin-top: -5rem;
  overflow: visible;
  position: relative;
  z-index: 5;

  select {
    background-color: var(--color-buttons);
    background-image: url('../../svg/select.svg');
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    border: 0;
    border-radius: 4px;
    color: var(--color-white);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-light);
    line-height: 1;
    max-width: 100%;
    min-width: 299px;
    padding: 10px 12px;
    text-indent: 1px;
    transition: none;
    width: 100%;
  }

  .orderby {
    justify-self: flex-end;
    margin-left: auto;

    @media (max-width: 1100px) {
      margin-left: 0;
      margin-top: 4rem;
      max-width: 230px;
    }

    @media (max-width: 760px) {
      max-width: 230px;
    }
  }

  .container {
    overflow: visible;
    padding-top: 2rem;
  }
}

.post-type-archive-movie {
  .cols {
    @include grid(3, $gutter_x: 2rem, $gutter_y: 2rem);

    @media (max-width: 1270px) {
      @include grid(2, $gutter_x: 2rem, $gutter_y: 2rem);
    }

    @media (max-width: 900px) {
      @include grid(1, $gutter_x: 2rem, $gutter_y: 2rem);
    }
  }
}

/* stylelint-disable selector-max-combinators, selector-max-compound-selectors */
.movie-archive-grid {
  .pagination ul {
    display: flex;
    gap: .5rem;
    list-style: none;
    margin: 0;
    padding: 0;

    * {
      font-size: var(--font-size-14);
    }

    .sep {
      pointer-events: none;
    }

    button + .sep {
      margin-left: .5rem;
    }

    .sep + button {
      margin-left: .5rem;
    }

    li {
      display: flex;
    }

    li:first-of-type {
      margin-left: 0;
    }
  }

  .button {
    background-color: var(--color-buttons);
    border: 0;
    border-radius: 16px;
    color: var(--color-white);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-light);
    margin: 0;
    padding: 5px 14px 5px 20px;

    &:focus,
    &:hover {
      background-color: var(--color-buttons-hover);
      border: 0;
      color: var(--color-white);
    }
  }

  .button .icon {
    left: -8px;
    position: relative;
  }

  .button:hover .icon,
  .button:focus .icon {
    color: var(--color-white);
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;

    .selected span,
    label:first-child span,
    .selected:first-child span {
      border-bottom: 1px solid var(--color-white);
    }

    .total {
      font-size: 20px;
      font-weight: 500;
      line-height: 2.25;

      @media (max-width: 500px) {
        margin-top: 5px;
        width: 100%;
      }
    }

    @media (max-width: 1100px) {
      display: block;
    }

    @media (max-width: 760px) {
      width: 100%;
    }
  }

  /* stylelint-disable no-descending-specificity */
  .main {
    grid-area: main;
    position: relative;
    transform: translateY(-28px);

    li:first-of-type {
      margin-left: 0;
    }

    li {
      display: block;
      margin: 0;
      position: relative;
    }

    // We have no need for thse because we already have checkboxes
    /* stylelint-disable-next-line */
    .selected-filters {
      /* stylelint-disable-next-line */
      display: none;
    }

    .selected-filters ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  /* stylelint-disable-next-line */
  .sidebar-toggle {
    display: none;

    @media (max-width: 760px) {
      align-items: center;
      background-color: transparent;
      border: 0;
      display: flex;
      height: 5rem;
      margin-bottom: 20px;
      padding: 0;
      text-align: left;
      width: 100%;

      &:hover,
      &:focus {
        background-color: transparent;
        border: 0;
      }

      &.toggled {
        border: 0;
        position: absolute;
        right: 2rem;
        top: 1.5rem;
        width: auto;
        z-index: 999;
      }

      svg {
        height: 1rem;
        margin-right: 1rem;
        width: auto;
      }
    }
  }

  .filters {
    grid-area: sidebar;

    @media (max-width: 760px) {
      /* stylelint-disable-next-line */
      background: linear-gradient(0deg, rgba(var(--bg-r), var(--bg-g), var(--bg-b), 1) 30%, rgba(var(--bg-r), var(--bg-g), var(--bg-b), 1) 80%, rgba(var(--bg-r), var(--bg-g), var(--bg-b), 0) 100%);
      /* stylelint-disable-next-line */
      background-color: var(--color-background);
      left: -2rem;
      opacity: 0;
      padding: 2rem;
      position: absolute;
      transition: opacity ease-in-out .4s;
      visibility: hidden;
      width: 100vw;
      z-index: 100;

      &.toggled {
        left: 0;
        opacity: 1;
        top: 0;
        visibility: visible;
      }
    }
  }

  .movie-navigation {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6rem;
    padding-bottom: 0;
    padding-top: 0;

    li {
      margin: 0;
    }

    .sep {
      @include button();
      margin: 0;
    }

    .sep,
    button {
      border-radius: 4px;
      font-weight: var(--font-weight-regular);
      height: unset;
      line-height: 1;
      min-height: 0;
      padding: 5px 10px;
    }

    /* stylelint-disable a11y/font-size-is-readable */
    .per-page {
      align-items: center;
      display: inline-flex;
      justify-content: flex-end;

      label {
        color: var(--color-white);
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        margin-right: 10px;
        min-width: 100px;
      }

      div {
        font-size: 14px;
      }

      @media (max-width: 720px) {
        justify-content: flex-start;
        padding-top: 33px;
      }
    }

    @media (max-width: 720px) {
      display: block;
    }

    @media (max-width: 760px) {
      .prev,
      .next {
        display: none;
      }
    }
  }

  .movies {
    position: relative;

    .col {
      position: relative;
    }
  }

  @media (max-width: 760px) {
    display: flex;
    flex-wrap: wrap;

    .filters {
      order: 2;
    }

    .main {
      order: 1;
    }
  }

  @media (min-width: 760px) {
    display: grid;
    grid-gap: 4rem;
    grid-template-areas: 'sidebar main';
    grid-template-columns: 300px minmax(0, 3fr);
    grid-template-rows: auto;

    @media (max-width: 1000px) {
      grid-template-columns: 250px minmax(0, 3fr);
    }
  }
}

.movies,
.result-container {
  &.visible .load-animation {
    opacity: 0;
    z-index: -1;
  }

  &.loaded .load-animation {
    opacity: 0;
    z-index: -1;
  }
}

.load-animation {
  align-items: flex-start;
  background-color: var(--color-background);
  display: flex;
  height: calc(100% + 40px);
  justify-content: center;
  left: 0;
  opacity: 1;
  position: absolute;
  top: var(--height-of-top-bar);
  transition: opacity .4s ease-in-out;
  width: calc(100% + 40px);
  z-index: 99;

  @media (max-width: 500px) {
    height: 100%;
    width: 100%;
  }
}

.block-search .loading .load-animation {
  min-height: 100vh;
  opacity: 1;
  z-index: 55;
}

// Loader
/* stylelint-disable */
.loader {
  margin-top: 30vh;
  overflow: hidden;

  &__text {
    color: var(--color-white);
    font-size: 10px;
    letter-spacing: 1px;
    margin: 5px auto;
    text-transform: uppercase;
  }

  &__filmstrip {
    background: var(--color-white);
    height: 70px;
    position: relative;
    width: 56px;
    z-index: -1;

    &:before,
    &:after {
      animation: roll 20ms infinite;
      border-left: 5px dashed var(--color-background);
      content: '';
      height: 120%;
      position: absolute;
    }

    &:before {
      left: 5px;
    }

    &:after {
      right: 5px;
    }
  }
}

@keyframes roll {
  0% {
    top: 0;
  }

  100% {
    top: -15px;
  }
}

// Button like checkboxes
.input-group,
.input-group label,
.input-group label::before {
  border-radius: 20px;
}

.input-group {
  align-items: flex-start;
  display: flex;
  position: relative;
}

.input-group:hover label {
  background-color: var(--color-buttons-hover);
}

.input-group label {
  align-items: center;
  background-color: var(--color-buttons);
  border: 0;
  color: var(--color-white);
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: var(--font-weight-light);
  justify-content: space-between;
  line-height: 1;
  overflow: hidden;
  padding: 5px 14px;
  position: relative;
  text-align: left;
  transition: all 50ms cubic-bezier(.4, .0, .2, 1);
  width: 100%;
  z-index: 2;
}

.input-group label::before {
  background-color: var(--color-checked);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 50ms cubic-bezier(.4, .0, .2, 1);
  width: 0;
  z-index: -1;
}

.input-group label::after {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: 2px solid transparent;
  border-radius: 50%;
  content: '';
  cursor: pointer;
  height: 16px;
  height: 100%;
  left: 0;
  margin-left: 2px;
  /* Use 32px if you are using background-color */
  min-width: 16px;
  position: relative;
  position: absolute;
  top: 3px;
  transition: all 200ms ease-in;
  width: 16px;
  width: 100%;
  z-index: 2;
}

.input-group input:checked ~ label {
  color: #fff;

  span {
    opacity: .2;
  }
}

.input-group input:checked ~ label::before {
  opacity: 1;
  width: 100%;
}

.input-group input:checked ~ label::after {
  background-color: transparent;
  background-image: url("data:image/svg+xml, %3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%232ecc71' fill-rule='nonzero'/%3E%3C/svg%3E ");
  border-color: transparent;
}

.disabled,
.disabled:hover,
.disabled:hover *,
.input-group.disabled:hover label,
.input-group.disabled:hover label::after,
.input-group.disabled:hover label::before,
.input-group.disabled:hover input,
.input-group.disabled:hover {
  cursor: unset;
  pointer-events: none;
}

.disabled .text {
  opacity: .5;
}

.input-group input:disabled,
.input-group input:disabled ~ label::after,
.input-group input:disabled ~ label::before {
  opacity: .5;
}

.input-group input {
  cursor: pointer;
  height: 32px;
  order: 1;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
  width: 32px;
  z-index: 2;
}

// Other styles for sidebar checkboxes {
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

// Tag for has-review
.movie-meta-data li.movie-meta-data-watched.has-review-tag {
  display: inline-flex;
  gap: 5px;
  position: relative;
  white-space: nowrap;

  span.has-review-tag {
    @include cubic-bezier($property: all, $duration: .22s);
    background: #111;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 1px 4px;
    position: absolute;
    right: -30px;
    width: 23px;

    svg {
      height: 14px;
      width: 14px;
    }

    > span {
      @include cubic-bezier($property: all, $duration: .22s);
      opacity: 0;
      width: 0;
    }
  }
}

.movie-meta-data.has-link:hover li.movie-meta-data-watched.has-review-tag {
  span.has-review-tag {
    left: 0;
    width: 132px;

    > span {
      opacity: 1;
      width: 103.19px;
    }
  }
}
