// Real time Vue.js search
/* stylelint-disable selector-max-combinators, selector-max-compound-selectors, selector-max-class, selector-max-specificity */
/* stylelint-disable-next-line */
:root {
  --gap: 2rem;
}

/* stylelint-disable-next-line */
body.is-search-on .block-hero-movies .container .result-container,
.result-container {
  display: none;

  /* stylelint-disable-next-line */
  &.loading,
  &.loaded {
    display: block;
  }

  .load-animation {
    /* stylelint-disable-next-line */
    background: linear-gradient(0deg, rgba(var(--bg-r), var(--bg-g), var(--bg-b), 1) 30%, rgba(var(--bg-r), var(--bg-g), var(--bg-b), 1) 80%, rgba(var(--bg-r), var(--bg-g), var(--bg-b), 0) 100%);
    height: calc(100% - 300px);
    margin-top: 150px;

    .loader {
      margin-top: 22rem;
    }
  }

  /* stylelint-disable-next-line */
  .container {
    height: auto;
  }
}

.site-main .result-container {
  padding: 4rem 2rem;

  .result-group {
    > h2 {
      color: var(--color-white);
      font-size: var(--font-size-22);
      text-align: left;
    }

    /* stylelint-disable-next-line */
    h2 > span {
      font-family: var(--font-paragraph);
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-regular);
      margin-left: 8px;
      opacity: .5;
    }

    ol:not([class]),
    ul:not([class]) {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }

  .result-group.movie:only-of-type > ul {
    --cols: 4;
    --width: calc(100% / var(--cols));
    --width-col: calc(var(--width) - var(--gap));
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    > li {
      flex: 1;
      flex-basis: var(--width-col);
      flex-grow: 1;
      flex-shrink: 1;
      max-width: var(--width-col);
      min-width: var(--width-col);
      width: var(--width-col);
    }
  }

  .result-group.movie > ul > li {
    margin-bottom: 2rem;

    .movie-meta-data {
      transform: none;
    }

    .movie-meta-data-box {
      align-items: flex-start;
      align-self: flex-start;
      justify-content: flex-start;
      justify-self: flex-start;
      margin-left: 0;
      margin-right: auto;
    }
  }
}

.results {
  display: flex;
  gap: var(--gap);

  > * {
    flex: 1;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  div {
    position: relative;
  }
}

.no-results {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;

  p {
    /* stylelint-disable-next-line */
    color: rgba(255, 255, 255, .7);
    font-size: var(--font-size-24);
    justify-self: center;
    text-align: center;
  }
}

.site-footer,
.block-search .block-title,
.block-hero-movies .container,
.block-hero-movies > .container > .content + .movie-meta-data,
.block:not(.block-search) {
  @include cubic-bezier($property: all, $duration: 2s);
  transition-duration: 2s;
}

body.is-search-on {
  .site-main .block-hero-movies .content {
    position: static;
  }

  .site-footer {
    margin-top: 0;
  }

  /* stylelint-disable-next-line */
  .block-search .block-title,
  .block-search .js-video,
  .block-search .backdrop + .movie-meta-data,
  .block:not(.block-search) {
    opacity: 0;
  }

  .block-search,
  .block-search .container,
  .block-hero-movies .container {
    height: unset;
    max-height: unset;
  }
}

body.is-search-on.hide-containers {
  /* stylelint-disable-next-line */
  .block:not(.block-search) {
    display: none;
  }
}

// Search
.block-search-traditional,
.block-search-traditional-results {
  background-color: var(--color-white);
}

.block-search-traditional form {
  display: grid;
  /* autoprefixer: off */
  grid-gap: 1rem;
  grid-template-columns: 9fr 1fr;

  input,
  label {
    width: 100%;
  }
}

.block-search-traditional-results {
  > .container {
    padding-top: 0;

    @media (min-width: $container-ipad-landscape) {
      // Change this to 2 if you use other post type results
      @include grid(1);
    }
  }

  .row-result {
    border-top: 2px solid var(--color-border-forms);
    padding: 2rem 0;

    &:last-of-type {
      border-bottom: 2px solid var(--color-border-forms);
    }
  }

  h3 {
    font-size: var(--font-size-h4);
    margin-bottom: 1rem;
  }

  p {
    margin-top: 1rem;
  }

  .tags a {
    background-color: var(--color-background-tag);
    color: var(--color-main);

    &:hover,
    &:focus {
      background-color: var(--color-main);
      color: var(--color-background-tag);
    }
  }
}
