// Real time Vue.js search
/* stylelint-disable selector-max-combinators, selector-max-compound-selectors, selector-max-class, selector-max-specificity */
/* stylelint-disable-next-line */
:root {
  --gap: 2rem;
}

/* stylelint-disable-next-line */
body .site-main .block-search-modal.block-hero-movies .container .result-container,
body.search .block-hero-movies .container .result-container,
body.is-search-on .block-hero-movies .container .result-container,
.result-container {
  display: none;

  /* stylelint-disable-next-line */
  &.loading,
  &.loaded {
    display: block;
  }

  .load-animation {
    /* stylelint-disable-next-line */
    background: linear-gradient(0deg, rgba(var(--bg-r), var(--bg-g), var(--bg-b), 1) 30%, rgba(var(--bg-r), var(--bg-g), var(--bg-b), 1) 80%, rgba(var(--bg-r), var(--bg-g), var(--bg-b), 0) 100%);
    height: calc(100% - 300px);
    margin-top: 22rem;

    .loader {
      margin-top: 22rem;

      @media (max-width: 600px) {
        margin-top: 5rem;
      }
    }
  }

  /* stylelint-disable-next-line */
  .container {
    height: auto;
  }
}

.site-main .result-container {
  padding: 4rem 0;

  > .container {
    padding-left: 0;
    padding-right: 0;
  }

  .result-group {
    > h2 {
      color: var(--color-white);
      font-size: var(--font-size-22);
      text-align: left;
    }

    /* stylelint-disable-next-line */
    h2 > span {
      font-family: var(--font-paragraph);
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-regular);
      margin-left: 8px;
      opacity: .5;
    }

    ol:not([class]),
    ul:not([class]) {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;
    }

    @media (max-width: 670px) {
      ul,
      ol {
        width: 100%;
      }
    }
  }

  .result-group.movie:only-of-type > ul {
    --cols: 4;
    --width: calc(100% / var(--cols));
    --width-col: calc(var(--width) - var(--gap));
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    > li {
      flex: 1;
      flex-basis: var(--width-col);
      flex-grow: 1;
      flex-shrink: 1;
      max-width: var(--width-col);
      min-width: var(--width-col);
      width: var(--width-col);
    }

    @media (max-width: 1170px) {
      --cols: 2;
    }

    @media (max-width: 666px) {
      --cols: 1;
    }
  }

  .result-group.movie > ul > li {
    margin-bottom: 2rem;

    .movie-meta-data {
      transform: none;
    }

    .movie-meta-data-box {
      align-items: flex-start;
      align-self: flex-start;
      justify-content: flex-start;
      justify-self: flex-start;
      margin-left: 0;
      margin-right: auto;
    }

    @media (max-width: 666px) {
      .movie-meta-data-box {
        margin-top: 0;
      }
    }
  }
}

.results {
  display: flex;
  gap: var(--gap);
  width: 100%;

  > * {
    flex: 1;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  div {
    position: relative;
  }

  @media (max-width: 1170px) {
    flex-wrap: wrap;
  }
}

.block-search-modal .no-results,
body.search .no-results {
  margin-bottom: 16rem;
  margin-top: 4rem;
}

body .site-main .block-search-modal.block-search.block-hero-movies,
body.search .block-search.block-hero-movies {
  min-height: 710px;
}

body .site-main .block-search-modal.block-hero-movies .content,
body.search .block-hero-movies .content,
.site-main .block-hero-movies .content {
  align-self: flex-start;
}

body .site-main .block-search-modal .backdrop .lazy,
body.search .backdrop .lazy {
  background-position: top;
}

.no-results {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;

  p {
    /* stylelint-disable-next-line */
    color: rgba(255, 255, 255, .7);
    font-size: var(--font-size-24);
    justify-self: center;
    text-align: center;
  }
}

.site-footer,
.block-search .block-title,
.block-hero-movies .container,
.block-hero-movies > .container > .content + .movie-meta-data,
.block:not(.block-search) {
  @include cubic-bezier($property: all, $duration: 2s);
  transition-duration: 2s;
}

.block-title-persistent + .search-wrapper {
  margin-bottom: 4rem;
}

body.search,
body.is-search-on {
  .site {
    position: static;
  }

  .site-main .block-hero-movies .content {
    position: static;
  }

  .site-footer {
    margin-top: 0;
  }

  /* stylelint-disable-next-line */
  .block-search .block-title:not(.block-title-persistent),
  .block-search .js-video,
  .block-search .backdrop + .movie-meta-data,
  .block:not(.block-search) {
    opacity: 0;
  }

  .block-search,
  .block-search .container,
  .block-hero-movies .container {
    height: unset;
    max-height: unset;
  }
}

body.search,
body.is-search-on.hide-containers {
  /* stylelint-disable-next-line */
  .block:not(.block-search) {
    display: none;
  }
}

/* stylelint-disable-next-line */
.excerpt {
  color: var(--color-white);
  font-size: 14px;
}

.result-post {
  margin-bottom: 4rem;

  a {
    color: var(--color-white);
  }
}
