/* stylelint-disable selector-max-class, selector-max-specificity, selector-max-combinators, selector-max-compound-selectors */
.block-single {
  background-color: transparent;
  position: relative;
  z-index: 7;

  .container {
    max-width: 700px;
  }

  @media (min-width: 600px) {
    transform: translateY(-20rem);
  }
}

.block-picked-movie {
  max-width: $width-max-article;
}

// Movie Gutenberg block
.block-picked-movie.block-hero-movies.block-hero-movies-single {
  height: unset;
}

.block-picked-movie.block-hero-movies.block-hero-movies-single .container,
.block-single .block-hero-movies.block-hero-movies-single .container,
.site-main .block-single .block-hero-movies.block-hero-movies-single .container {
  align-items: flex-start;
  height: unset;
  max-width: 100%;
  padding: 4rem 0;
  width: 100%;

  // Ordering
  .movie-meta-data-content {
    .buttons {
      justify-self: flex-start;
      order: 4;

      .mediabox {
        margin: 2rem 0;
      }
    }

    .movie-meta-data-title {
      order: 1;
    }

    .movie-meta-data-list {
      order: 2;
    }

    .poster-information {
      margin-bottom: 0;
      order: 4;
    }
  }

  .backdrop {
    height: unset;
    max-width: unset;
  }

  .movie-meta-data-title {
    font-size: var(--font-size-h1);
  }
}

body.single-post.postid-74322 .block-hero-movies.block-hero-normal .backdrop .lazy {
  background-position: bottom;
}

body.single-post .block-hero-movies.block-hero-normal {
  --height-hero: 770px;
  padding-bottom: 0;

  .content .block-title {
    @include responsive-font(22px, 80px);
  }

  .block-description-quote {
    align-items: center;
    display: inline-flex;
    font-size: var(--font-size-20);
    gap: 4rem;

    a {
      text-decoration: none;
    }
  }

  .lazy {
    background-position: top;
  }

  .container {
    padding-bottom: 0;

    @media (max-width: 600px) {
      align-items: flex-end;

      .content {
        align-self: flex-end;
        margin-bottom: 2rem;
      }
    }
  }

  + .block-page .container,
  + .block-page {
    padding-top: 0;
  }

  @media (max-width: 600px) {
    --height-hero: 320px;
  }
}

.auth {
  align-items: center;
  display: inline-flex;
  margin: 0;
}

.auth a {
  /* stylelint-disable-next-line */
  color: rgba(255, 255, 255, .7);
  display: inline-flex;
  font-size: var(--font-size-16);
  font-weight: 400;
  text-decoration: none;
  transition: color .55s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
}

.auth a:hover,
.auth a:focus {
  color: var(--color-neon-pink);
}

.auth a:hover img,
.auth a:focus img {
  border-color: var(--color-neon-pink);
}

/* stylelint-disable-next-line */
.auth a::after {
  display: none;
}

.auth .gravatar-small {
  border: 2px solid rgba(255, 255, 255, .7);
  border-radius: 50%;
  height: 22px;
  margin-right: 1rem;
  overflow: hidden;
  transition: border-color .55s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
  width: 22px;
}
