/* stylelint-disable selector-max-class, selector-max-specificity, selector-max-combinators, selector-max-compound-selectors */
.block-single {
  background-color: transparent;
  position: relative;
  z-index: 7;

  .container {
    max-width: 700px;
  }

  @media (min-width: 600px) {
    transform: translateY(-20rem);
  }
}

.block-picked-movie {
  max-width: $width-max-article;
}

// Movie Gutenberg block
.block-picked-movie.block-hero-movies.block-hero-movies-single .container,
.block-single .block-hero-movies.block-hero-movies-single .container,
.site-main .block-single .block-hero-movies.block-hero-movies-single .container {
  align-items: flex-start;
  height: unset;
  max-width: 100%;
  padding: 4rem 0;
  width: 100%;

  // Ordering
  .movie-meta-data-content {
    .buttons {
      justify-self: flex-start;
      order: 4;

      .mediabox {
        margin: 2rem 0;
      }
    }

    .movie-meta-data-title {
      order: 1;
    }

    .movie-meta-data-list {
      order: 2;
    }

    .poster-information {
      margin-bottom: 0;
      order: 4;
    }
  }

  .backdrop {
    height: unset;
    max-width: unset;
  }

  .movie-meta-data-title {
    font-size: var(--font-size-h1);
  }
}

body.single-post.postid-74322 .block-hero-movies.block-hero-normal .backdrop .lazy {
  background-position: bottom;
}

body.single-post .block-hero-movies.block-hero-normal {
  --height-hero: 770px;
  padding-bottom: 0;

  .content .block-title {
    @include responsive-font(22px, 80px);
  }

  .block-description-quote {
    font-size: var(--font-size-22);
  }

  .lazy {
    background-position: top;
  }

  .container {
    padding-bottom: 0;

    @media (max-width: 600px) {
      align-items: flex-end;

      .content {
        align-self: flex-end;
        margin-bottom: 2rem;
      }
    }
  }

  + .block-page .container,
  + .block-page {
    padding-top: 0;
  }

  @media (max-width: 600px) {
    --height-hero: 320px;
  }
}
