:root {
  --height-single-hero: 750px;
  --width-poster-large: 300px;

  @media (max-width: 1100px) {
    --width-poster-large: 250px;
  }

  @media (max-width: 700px) {
    --width-poster-large: 200px;
    --height-single-hero: 550px;
  }

  @media (max-width: 600px) {
    --width-poster-large: 150px;
    --height-single-hero: 480px;
  }

  @media (max-width: 600px) {
    --width-poster-large: 150px;
    --height-single-hero: unset;
  }
}

/* stylelint-disable selector-max-class, selector-max-specificity, selector-max-combinators, selector-max-compound-selectors */
.block-hero-movies.block-hero-movies-single,
.site-main .block-hero-movies.block-hero-movies-single {
  height: var(--height-single-hero);

  > .container {
    align-items: flex-end;

    @media (max-width: 600px) {
      padding-top: 6rem;
    }
  }

  .movie-meta-data-list {
    display: flex;
    gap: 4rem;

    .metascore {
      order: 2;
    }

    .imdb {
      order: 3;
      position: relative;
      top: 2px;

      @media (min-width: 700px) {
        top: 5px;
      }
    }

    .star-rating {
      order: 1;
      white-space: nowrap;
    }

    .imdb a {
      align-items: center;
      /* stylelint-disable-next-line */
      color: #f5c518;
      display: inline-flex;
      position: relative;

      svg {
        height: 26px;
        width: auto;
      }

      &:focus .rating,
      &:hover .rating {
        /* stylelint-disable-next-line */
        color: #ffef00;
      }

      &:focus::before,
      &:hover::before {
        /* stylelint-disable-next-line */
        border-color: #ffef00;
      }

      &:focus .fill-foreground,
      &:hover .fill-foreground {
        /* stylelint-disable-next-line */
        fill: #ffef00;
      }
    }

    .imdb a::before {
      border: 1px solid #f5c518;
      border-radius: 5px;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .imdb .rating {
      /* stylelint-disable-next-line */
      color: #f5c518;
      /* stylelint-disable-next-line */
      font-size: var(--font-size-14);
      font-weight: var(--font-weight-bold);
      padding: 0 10px 0 7px;
    }

    .metascore .rating {
      align-items: center;
      border-radius: 6px;
      color: var(--color-white);
      display: flex;
      /* stylelint-disable-next-line */
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-bold);
      height: 34px;
      justify-content: center;
      width: 34px;

      &.negative {
        /* stylelint-disable-next-line */
        background-color: #f00;
      }

      &.mixed {
        /* stylelint-disable-next-line */
        background-color: #fc3;
        color: var(--color-background);
      }

      &.positive {
        /* stylelint-disable-next-line */
        background-color: #6c3;
      }

      &.tbd {
        /* stylelint-disable-next-line */
        background-color: #ccc;
      }

      @media (max-width: 700px) {
        font-size: 14px;
        height: 28px;
        width: 28px;
      }
    }

    @media (max-width: 640px) {
      order: 1;
    }

    @media (max-width: 700px) {
      flex-wrap: wrap;
      gap: 2rem;

      // Rating
      li:first-child {
        width: 100%;
      }
    }

    @media (max-width: 620px) {
      gap: 1.5rem;
    }
  }

  .poster-information {
    /* stylelint-disable-next-line */
    font-family: 'Poster Labels', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;
    text-rendering: optimizeLegibility;

    li {
      float: left;
      letter-spacing: .01px;
      line-height: .83;
      list-style: none;
      margin-left: 0;
      margin-right: 5px;
    }

    li,
    span {
      /* stylelint-disable-next-line */
      color: rgba(255, 255, 255, .4);
      font-size: 41px;
      font-weight: var(--font-weight-regular);

      @media (max-width: 1200px) {
        font-size: 36px;
      }
    }

    .name {
      text-transform: uppercase;
    }

    .crew {
      /* stylelint-disable-next-line */
      font-family: 'Posters', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
      font-size: 35px;
      margin-right: -7px;
      text-transform: unset;

      @media (max-width: 1200px) {
        font-size: 30px;
      }
    }

    .casting {
      clear: left;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }

  .shade {
    /* stylelint-disable-next-line */
    background: linear-gradient(0deg, rgba(var(--bg-r), var(--bg-g), var(--bg-b), 1) 30%, rgba(var(--bg-r), var(--bg-g), var(--bg-b), .25) 100%);
  }

  .container,
  .backdrop {
    height: var(--height-single-hero);
    max-height: var(--height-single-hero);

    @media (max-width: 600px) {
      height: 100%;

      /* stylelint-disable-next-line */
      .video {
        display: none;
      }
    }
  }

  .backdrop::before {
    height: calc(var(--height-single-hero) + 70px);

    @media (max-width: 600px) {
      height: 100%;
    }
  }

  .movie-poster-wrapper.movie-poster-wrapper-large {
    height: auto;
    min-width: var(--width-poster-large);
    width: var(--width-poster-large);

    @media (max-width: 620px) {
      min-width: 0;
      width: auto;

      img {
        @include aspect-ratio(150, 225);
      }
    }
  }

  // Meta data start
  .movie-meta-data-box.movie-meta-data-box-large {
    align-self: flex-start;
    gap: 4rem;
    justify-content: flex-start;
    justify-self: flex-start;
    margin-left: 0;
    margin-right: auto;
    max-width: 100%;
    order: 1;

    .movie-meta-data-content {
      align-items: flex-end;
      align-self: flex-end;

      @media (max-width: 700px) {
        display: flex;
        flex-wrap: wrap;
      }

      @media (max-width: 500px) {
        align-items: center;
        align-self: center;
      }
    }

    .movie-meta-data-watched {
      font-size: var(--font-size-16);
      margin-bottom: 2rem;
    }

    .movie-meta-data-title {
      font-size: 62px;
      line-height: 1;
      margin-bottom: 2rem;

      @media (max-width: 1200px) {
        font-size: 42px;
      }

      @media (max-width: 920px) {
        font-size: 32px;
      }

      @media (max-width: 600px) {
        font-size: 22px;
        line-height: 1.33;
      }
    }

    .release-year {
      font-size: 26px;

      @media (max-width: 920px) {
        font-size: 22px;
      }

      @media (max-width: 600px) {
        font-size: 18px;
      }
    }

    .star-rating svg.star-bg {
      bottom: -3px;
    }

    .star-rating svg.star-half {
      left: -5px;
    }

    .star-rating .half svg,
    .star-rating .half,
    .star-rating svg {
      height: 24px;
      width: 24px;
    }

    /* stylelint-disable a11y/font-size-is-readable */
    .star-rating-text {
      /* stylelint-disable-next-line */
      color: #f5c518;
      display: block;
      font-size: 12px;
      margin-top: 4px;
      padding-left: 2px;
    }

    @media (max-width: 620px) {
      align-items: flex-end;
    }

    @media (max-width: 700px) {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: minmax(0, 1fr) 60%;
    }
  }

  .backdrop + .movie-meta-data,
  .movie-meta-data {
    gap: 4rem;
    transform: none;

    .buttons {
      display: flex;
      flex-flow: column;
      flex-wrap: wrap;
      gap: 2rem;
      justify-self: flex-end;
      margin-top: auto;
      order: 3;

      @media (max-width: 920px) {
        justify-self: flex-start;
      }

      @media (max-width: 640px) {
        flex-flow: row;
        flex-wrap: wrap;
        order: 3;

        /* stylelint-disable-next-line */
        button.play-button {
          display: none;
          width: 100%;
        }
      }

      @media (max-width: 500px) {
        width: 100%;
      }
    }

    .mediabox {
      @include cubic-bezier($property: all);
      align-items: center;
      align-self: flex-end;
      /* stylelint-disable-next-line */
      background-color: #f00;
      border-radius: 5px;
      display: inline-flex;
      font-size: var(--font-size-18);
      font-weight: var(--font-weight-bold);
      justify-content: center;
      margin-bottom: 2rem;
      order: 2;
      padding: 5px 10px;
      white-space: nowrap;

      &:hover,
      &:focus {
        /* stylelint-disable-next-line */
        background-color: rgb(161, 17, 17);
      }

      svg {
        height: 22px;
        margin-right: 1rem;
        width: 22px;
      }

      button {
        order: 1;
      }

      @media (max-width: 920px) {
        align-self: flex-start;
        margin-bottom: 1rem;
      }

      @media (max-width: 500px) {
        margin-bottom: 0;
        padding: 10px;
        width: 100%;
      }
    }

    @media (max-width: 920px) {
      flex-wrap: wrap;
    }

    @media (max-width: 640px) {
      display: flex;
    }
  }
}

/* stylelint-disable a11y/no-display-none */
.star-rating-text {
  display: none;
}

.block-movie-review {
  > .container {
    padding-top: 4rem;

    @media (max-width: 600px) {
      padding-top: 0;
    }
  }

  .side-information.side-information-main-content .genres {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: left;

    li {
      justify-self: flex-start;
      list-style: none;
      margin: 0;
      max-width: 100%;
      min-width: 0;
      padding: 0;
      text-align: left;
      width: auto;
    }

    a {
      @include button();
      align-items: center;
      background-color: var(--color-buttons);
      border: 0;
      border-radius: 20px;
      color: var(--color-white);
      cursor: pointer;
      display: inline-flex;
      font-size: 14px;
      font-weight: var(--font-weight-light);
      justify-content: space-between;
      line-height: 1;
      overflow: hidden;
      padding: 5px 14px;
      position: relative;
      text-align: left;
      transition: all 50ms cubic-bezier(.4, 0, .2, 1);
      z-index: 2;
    }

    a:focus,
    a:hover {
      border: 0;
    }
  }

  .side-information {
    margin: 2.9rem 0;
    padding: 0;

    .side-information-meta-crew {
      @include grid(3, $gutter_x: 2rem, $gutter_y: 2rem);
      max-width: 500px;
    }

    .side-information-meta-crew li:focus,
    .side-information-meta-crew li:hover {
      .avatar {
        transform: scale(1.07);
      }

      .side-information-meta-crew-name {
        opacity: .8;
      }
    }

    li {
      list-style: none;
      margin-bottom: 2.9rem;
      margin-left: 0;
      margin-top: 0;
      padding: 0;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      .side-information-meta-crew {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2rem;
        padding: 0;

        @media (min-width: 700px) {
          max-width: 80%;
        }
      }

      .side-information-meta-crew.multiple-directors .side-information-meta-crew-name {
        max-width: 100%;
        width: 100%;
      }

      .side-information-meta-crew-name {
        @include cubic-bezier($property: all);
        color: var(--color-white);
        display: inline-block;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-regular);
        line-height: 1.3;
        margin: 0 auto;
        opacity: .5;
        padding-top: 1rem;
      }

      ul li {
        line-height: 1;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }

    .side-information-title {
      color: var(--color-white);
      display: block;
      font-size: var(--font-size-18);
      font-weight: var(--font-weight-bold);
      margin-bottom: .5rem;
      margin-left: 0;
      margin-top: 0;
      padding: 0;
    }

    .side-information-meta {
      font-size: var(--font-size-16);
    }
  }

  .container {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: var(--width-poster-large) minmax(0, 1fr);

    @media (max-width: 700px) {
      grid-gap: 0;
      grid-template-columns: 1fr;

      .side {
        order: 2;
      }

      .content {
        order: 1;
      }
    }
  }

  @media (max-width: 600px) {
    padding-top: 0;
  }
}

.avatar.avatar-empty svg {
  position: absolute;
}

.avatar {
  @include aspect-ratio(1, 1);
  @include cubic-bezier($property: all);
  align-items: center;
  /* stylelint-disable-next-line */
  background-color: rgba(255, 255, 255, .1);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: flex;
  justify-content: center;

  svg {
    height: 60%;
    width: auto;
  }
}

.content-empty {
  background-color: transparent;
  /* stylelint-disable-next-line */
  border: 2px dashed rgba(255, 255, 255, .1);
  clear: both;
  /* stylelint-disable-next-line */
  margin-top: 4rem;
  padding: 4rem;
  text-decoration: none;

  p,
  li {
    /* stylelint-disable-next-line */
    color: rgba(255, 255, 255, .6);
  }

  p:first-of-type {
    margin-top: 0;
  }

  @media (max-width: 700px) {
    padding: 3rem;
  }
}

.spoiler-warning:not(.visible) {
  position: relative;

  .spoiler-warning-wrapper {
    filter: blur(6px);
  }

  &:focus,
  &:hover {
    cursor: pointer;
  }
}

.spoiler-warning:not(.visible)::before {
  @include cubic-bezier($property: all);
  background-color: var(--color-black);
  border-radius: 5px;
  color: var(--color-white);
  content: 'Sis채lt채채 lievi채 juonipaljastuksia! Katso klikkaamalla.';
  filter: none;
  font-size: var(--font-size-15);
  margin: 0 auto;
  opacity: 0;
  padding: 1px 8px;
  position: absolute;
  transform: scale(0);
  white-space: nowrap;
  z-index: 2;
}

.spoiler-warning:focus::before,
.spoiler-warning:hover::before {
  opacity: 1;
  transform: scale(1.1);
}

.notification-box-old-stuff {
  align-items: center;
  /* stylelint-disable-next-line */
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: left;
  margin-top: 2.9rem;
  padding: 4rem;
  text-align: left;

  p {
    /* stylelint-disable-next-line */
    color: rgba(255, 255, 255, .8);
    margin: 0;
  }

  @media (max-width: 700px) {
    padding: 3rem;
  }
}

.block-related {
  /* stylelint-disable-next-line */
  background-color: #171f2a;
}

.block-related .cols {
  @include grid(6, $gutter_x: 4rem, $gutter_y: 4rem);

  .movie-meta-data-box {
    flex-wrap: wrap;
  }

  @media (max-width: 1000px) {
    @include grid(3, $gutter_x: 4rem, $gutter_y: 4rem);
  }

  @media (max-width: 580px) {
    @include grid(2, $gutter_x: 4rem, $gutter_y: 4rem);
  }

  @media (max-width: 400px) {
    @include grid(1, $gutter_x: 4rem, $gutter_y: 4rem);
  }
}
