// Transition duration and animations
$transition-duration: .22s;

// Mixins
@mixin cubic-bezier($property: color, $duration: $transition-duration) {
  transition: $property $transition-duration cubic-bezier(.19, 1, .22, 1);
}

@keyframes floating {
  from {
    transform: translate(0, 0) translate3d(0, 0, 0);
  }

  65% {
    transform: translate(0, -10px) translate3d(0, 0, 0);
  }

  to {
    transform: translate(0, -0) translate3d(0, 0, 0);
  }
}

.movie-poster-has-link:hover .movie-poster,
.movie-poster-has-link:focus .movie-poster {
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-name: floating;
  animation-timing-function: ease-in-out;
  box-shadow: 0 12px 28px rgba(0, 0, 0, .15), 0 5px 10px rgba(0, 0, 0, .15);
  transform: translate3d(0, 0, 0);
}
