// Transition duration and animations
$transition-duration: .22s;

// Mixins
@mixin cubic-bezier($property: color, $duration: $transition-duration) {
  transition: $property $transition-duration cubic-bezier(.19, 1, .22, 1);
}

.movie-poster-has-link {
  @include cubic-bezier($property: all);
  position: relative;
  z-index: 2;
}

.movie-poster-has-link:hover,
.movie-poster-has-link:focus {
  transform: scale(1.1);
  z-index: 3;
}
