// Transition duration and animations
$transition-duration: .22s;

// Mixins
@mixin cubic-bezier($property: color, $duration: $transition-duration) {
  transition: $property $transition-duration cubic-bezier(.19, 1, .22, 1);
}

.genre-link,
.col.has-link,
.movie-poster-wrapper,
.has-link {
  @include cubic-bezier($property: all);
  position: relative;
  z-index: 12;

  .global-link {
    z-index: 18;
  }
}

.has-link:focus .movie-poster-wrapper,
.has-link:hover .movie-poster-wrapper,
.has-link.movie-poster-wrapper:hover,
.has-link.movie-poster-wrapper:focus {
  opacity: .5;
  z-index: 22;

  .genre-link {
    background-color: rgba(var(--bg-r), var(--bg-g), var(--bg-b), .4);
  }
}

.col.has-link:focus,
.col.has-link:hover {
  transform: scale(1.05);
  z-index: 22;

  .genre-link {
    background-color: rgba(var(--bg-r), var(--bg-g), var(--bg-b), .4);
  }
}

.transition-fade {
  @include cubic-bezier($property: opacity, $duration: 500ms);
  // animation: slideUp .9s cubic-bezier(.075, .82, .165, 1) forwards;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

@keyframes slideUp {
  0% {
    transform: translate3d(0, 4vh, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUpShort {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
}
