.backdrop {
  .video {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;

    @media (min-width: 1400px) {
      height: calc(100% + 200px);
      top: -200px;
    }
  }

  .youtube-player {
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    position: relative;
  }

  .youtube-player iframe {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @media (max-width: 1400px) {
      height: 200vw;
      left: 50%;
      min-height: 70vh;
      min-width: 177.77vh;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
    }

    @media (max-width: 800px) {
      height: 300vw;
      min-height: 177.77vh;
      min-width: 377.77vh;
    }
  }

  .video-preview {
    @include cubic-bezier($property: opacity);
    opacity: 1;
    transition-duration: 4s;
  }

  .video.playing .video-preview {
    opacity: 0;
  }
}

button.play-button {
  @include cubic-bezier($property: all, $duration: 4s);
  align-items: center;
  align-self: flex-end;
  background-color: transparent;
  border: 0;
  display: inline-flex;
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-regular);
  margin: 0;
  opacity: .5;
  overflow: visible;
  padding: 0;
  transition-duration: 4s;

  &.hidden {
    opacity: 0;
  }

  svg {
    @include cubic-bezier($property: all);
    margin-right: 4px;
    position: relative;

    &.play-icon {
      top: -1px;
    }

    &.pause-icon {
      top: -2px;
    }
  }

  &:focus {
    background-color: transparent;
    border: 0;
    margin: 0;
    opacity: .5;
    padding: 0;
  }

  &:hover {
    background-color: transparent;
    border: 0;
    margin: 0;
    opacity: 1;
    padding: 0;

    svg {
      transform: scale(1.2);
    }
  }

  span {
    @include cubic-bezier($property: all, $duration: 4s);
    transition-duration: 4s;
  }

  /* stylelint-disable-next-line */
  .hidden {
    display: none;
    opacity: 0;
  }
}
