.block-best-movies {
  overflow: visible;

  .container {
    overflow: visible;
  }

  .cols {
    @include grid(3);

    @media (max-width: 1100px) {
      @include grid(2);

      .col {
        margin-bottom: 5rem;
      }

      .col:last-child {
        grid-column: 1 / -1;
        margin-bottom: 0;
      }
    }

    @media (max-width: 740px) {
      grid-template-columns: 1fr;
    }
  }

  ol {
    counter-reset: toplist-numbers;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ol > li {
    counter-increment: toplist-numbers;
    display: flex;
    margin-bottom: 2rem;
    position: relative;
  }

  ol > li::before {
    align-self: center;
    /* stylelint-disable-next-line */
    color: rgba(255, 255, 255, .1);
    content: counter(toplist-numbers);
    font-size: 62px;
    font-weight: var(--font-weight-bold);
    line-height: 1;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    order: 5;
    position: relative;
    right: 0;

    @media (max-width: 1100px) {
      font-size: 42px;
    }
  }
}
