// Links within content must be visually underlined
// @link https://make.wordpress.org/themes/handbook/review/accessibility/required/#content-links
@mixin link() {
  // Create your own default content link styles here
  // for pages and Gutenberg
  color: var(--color-link-text);
  display: inline;
  text-decoration: none;
  text-shadow: 0 0 25px var(--color-link-text);
  transition: box-shadow .1s cubic-bezier(.19, 1, .22, 1), color .1s cubic-bezier(.19, 1, .22, 1);

  &::after {
    background-image: url('../../svg/external-link-styled-links.svg');
  }

  &:focus,
  &:hover {
    border-color: var(--color-link-text-hover);
    color: var(--color-link-text-hover);
    text-shadow: 0 0 25px var(--color-link-text-hover);

    &::after {
      background-image: url('../../svg/external-link-hovered-links.svg');
    }
  }
}
