.site-footer {
  /* stylelint-disable-next-line */
  background-color: rgba(10, 12, 15, .2);
  /* stylelint-disable-next-line */
  border-top: 1px solid rgba(255, 255, 255, .04);
  margin-top: 0;
  text-align: center;

  .container {
    max-width: 1000px;
    padding-bottom: 9rem;
    padding-top: 9rem;

    @media (min-width: 900px) {
      width: 80%;
    }

    @media (max-width: 600px) {
      padding-bottom: 6rem;
      padding-top: 6rem;
    }
  }

  h2 {
    color: var(--color-white);
    font-weight: 600;

    span {
      /* stylelint-disable-next-line */
      font-family: 'Playfair Display', serif;
    }
  }

  p {
    /* stylelint-disable-next-line */
    color: rgba(204, 206, 240, .52);
    font-size: var(--font-size-20);
  }

  a {
    /* stylelint-disable-next-line */
    color: rgba(255, 255, 255, .8);

    &:focus,
    &:hover {
      /* stylelint-disable-next-line */
      color: rgba(255, 255, 255, 1);
    }
  }

  a.is-external-link::after {
    background-image: url('../../svg/external-link-white.svg');
  }

  ul {
    --gap: 2rem;
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--gap) 0;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 1rem 0 0;

    @media (max-width: 600px) {
      --gap: 1.5rem;
    }
  }

  li {
    align-items: center;
    display: inline-flex;
    padding: 0;

    &.imdb svg {
      height: 25px;
      margin-right: var(--gap);
    }

    &.listal svg {
      height: 22px;
      margin-right: calc(var(--gap) / 2);
    }

    &.letterboxd svg {
      height: 42px;
    }

    &.trakt svg {
      margin-left: calc(var(--gap) / 2);
    }

    &.tmdb svg {
      height: 17px;
      position: relative;
      top: -3px;
    }

    &.taste svg {
      height: 25px;
      position: relative;
      top: -3px;
    }
  }

  li svg {
    height: 35px;
    margin: 0 var(--gap);
    width: auto;

    @media (max-width: 600px) {
      height: 25px;
    }
  }

  /* stylelint-disable-next-line */
  li a:not(:hover) .fill-foreground {
    fill: rgba(204, 206, 240, .6);
  }

  /* stylelint-disable-next-line */
  li a:not(:hover) .fill-background {
    fill: #12171f;
  }
}
